<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Twitter for cats 😺</title>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
  <header>
    <h1 class="title">Meower - Twitter for cats 😺!</h1>
  </header>
  <main>
    <form class="mew-form">
      <label for="name">Name</label>
      <input class="u-full-width" type="text" id="name" name="name">
      <label for="content">Mew</label>
      <textarea class="u-full-width" type="text" id="content" name="content"></textarea>
      <button class="button-primary">Send your mew 😺</button>
    </form>
    <div class=loading>
      <img src="static/images/loading.gif" alt="">
    </div>
    <div class=mews>
      <h2 class="title">Here are the Mews</h2>
    </div>
  </main>
  <script src="static/client.js"></script>
</body>

</html>